.card-error{
    background-color: aqua;
}
#login{
    background-color: rgba(0, 0, 0, 0.274);
}
#lg{
    background-color: rgba(255, 0, 0, 0.459);
}
#sg{
    background-color: rgba(255, 0, 212, 0.377);
}